html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.rdx-grid.\--auto {
  flex-wrap: wrap;
}

.rdx-grid.\--auto > .rdx-item {
  flex: none;
  width: 8.33333%;
}

.rdx-grid.\--center {
  justify-content: center;
}

.rdx-grid.\--flush > .rdx-item {
  margin: 0;
  padding: 0;
}

.rdx-grid.\--force {
  display: flex;
}

.rdx-grid.\--reverse:not(.\--stack) {
  flex-direction: row-reverse;
}

.rdx-grid.\--reverse {
  flex-direction: column-reverse;
}

.rdx-grid.\--stack {
  flex-direction: column;
}

.rdx-grid.\--vcenter {
  align-items: center;
}

@media screen and (min-width: 35em) {
  .rdx-grid {
    display: flex;
  }
}

.rdx-item {
  flex: 1;
  padding: 10px;
}

.rdx-item[class*='-span-'] {
  flex: none;
}

.rdx-item.\--offset-quarter {
  margin-left: 25%;
}

.rdx-item.\--span-quarter {
  width: 25%;
}

.rdx-item.\--offset-half {
  margin-left: 50%;
}

.rdx-item.\--span-half {
  width: 50%;
}

.rdx-item.\--offset-third {
  margin-left: 33.3333%;
}

.rdx-item.\--span-third {
  width: 33.3333%;
}

.rdx-grid .rdx-item.\--offset-1 {
  margin-left: 8.33333%;
}

.rdx-grid .rdx-item.\--span-1 {
  width: 8.33333%;
}

.rdx-grid .rdx-item.\--offset-2 {
  margin-left: 16.66667%;
}

.rdx-grid .rdx-item.\--span-2 {
  width: 16.66667%;
}

.rdx-grid .rdx-item.\--offset-3 {
  margin-left: 25%;
}

.rdx-grid .rdx-item.\--span-3 {
  width: 25%;
}

.rdx-grid .rdx-item.\--offset-4 {
  margin-left: 33.33333%;
}

.rdx-grid .rdx-item.\--span-4 {
  width: 33.33333%;
}

.rdx-grid .rdx-item.\--offset-5 {
  margin-left: 41.66667%;
}

.rdx-grid .rdx-item.\--span-5 {
  width: 41.66667%;
}

.rdx-grid .rdx-item.\--offset-6 {
  margin-left: 50%;
}

.rdx-grid .rdx-item.\--span-6 {
  width: 50%;
}

.rdx-grid .rdx-item.\--offset-7 {
  margin-left: 58.33333%;
}

.rdx-grid .rdx-item.\--span-7 {
  width: 58.33333%;
}

.rdx-grid .rdx-item.\--offset-8 {
  margin-left: 66.66667%;
}

.rdx-grid .rdx-item.\--span-8 {
  width: 66.66667%;
}

.rdx-grid .rdx-item.\--offset-9 {
  margin-left: 75%;
}

.rdx-grid .rdx-item.\--span-9 {
  width: 75%;
}

.rdx-grid .rdx-item.\--offset-10 {
  margin-left: 83.33333%;
}

.rdx-grid .rdx-item.\--span-10 {
  width: 83.33333%;
}

.rdx-grid .rdx-item.\--offset-11 {
  margin-left: 91.66667%;
}

.rdx-grid .rdx-item.\--span-11 {
  width: 91.66667%;
}

.rdx-grid .rdx-item.\--offset-12 {
  margin-left: 100%;
}

.rdx-grid .rdx-item.\--span-12 {
  width: 100%;
}

/*# sourceMappingURL=radix.css.map */