.container {
    position: relative;
    margin: 0 auto;
    padding: 0 $radix-container-padding;

    @include rdx-mq-from('lg') {
        max-width: $radix-container-width;

        &.\--fluid {
            max-width: none;
        }
    }
}