@if $radix-css-grid {
    .#{$radix-namespace}-grid {
        &.\--auto {
            flex-wrap: wrap;

            > .#{$radix-namespace}-item {
                flex: none;
                width: column-width(1);
            }
        }

        &.\--center {
            justify-content: center;
        }

        &.\--flush {
            > .#{$radix-namespace}-item {
                margin: 0;
                padding: 0;
            }
        }

        &.\--force {
            display: flex;
        }

        &.\--reverse:not(.\--stack) {
            flex-direction: row-reverse;
        }

        &.\--reverse {
            flex-direction: column-reverse;
        }

        &.\--stack {
            flex-direction: column;
        }

        &.\--vcenter {
            align-items: center;
        }

        @include rdx-mq-sm {
            display: flex;
        }
    }

    .#{$radix-namespace}-item {
        flex: 1;
        padding: 10px;

        &[class *= '-span-'] {
            flex: none;
        }

        &.\--offset-quarter {
            margin-left: 25%;
        }

        &.\--span-quarter {
            width: 25%;
        }

        &.\--offset-half {
            margin-left: 50%;
        }

        &.\--span-half {
            width: 50%;
        }

        &.\--offset-third {
            margin-left: 33.3333%;
        }

        &.\--span-third {
            width: 33.3333%;
        }

        @for $i from 1 through $radix-gs-columns {
            .#{$radix-namespace}-grid &.\--offset-#{$i} {
                margin-left: column-width($i);
            }

            .#{$radix-namespace}-grid &.\--span-#{$i} {
                width: column-width($i);
            }
        }
    }
}
