html {
    background-color: colour('default');

    overflow-x: hidden;
    overflow-y: scroll;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1rem;
}

body,
button,
input,
select,
textarea {
    font-family: font-stack('default');
}

code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
    line-height: 1.25;
}

a {
    color: colour('primary');

    &:hover,
    &:active {
        color: shade('primary');
    }
}

hr {
    border-top-color: shade('default', 5%);
    margin-top: 20px;
}

img {
    max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: baseline;
}

small {
    @include rdx-font-size('xs');
}

strong {
    @include rdx-font-weight('bold');
}

article,
aside,
figure,
footer,
header,
section {
    display: block;
}

