@if $radix-css-colours {
    @each $class, $value in $radix-colours {
        .\--bg-#{$class} {
            background-color: $value;
        }

        .\--clr-#{$class} {
            color: $value;
        }
    }
}

@if $radix-css-fonts {
    @each $key in map-keys($radix-font-sizes) {
        .\--text-size-#{$key} {
            @include rdx-font-size($key);
        }
    }

    @each $key in map-keys($radix-font-weights) {
        .\--text-weight-#{$key} {
            @include rdx-font-weight($key);
        }
    }
}

@if $radix-css-breakpoints {
    @each $key in map-keys($radix-breakpoints) {
        .\--hide-#{$key} {
            @include rdx-mq-from($key) {
                display: none !important;
            }
        }

        .\--show-#{$key} {
            @include rdx-mq-until($key) {
                display: none !important;
            }
        }
    }
}