// Set test variables and
// immutable default values

// True
$true-terminal-output: false;

// Appearance
$user-colours: (
    'test-grey': #666,
    'default': #ECECED,
    'primary': #00ADB5,
    'secondary': #47555E,
    'success': #52AA3F,
    'warning': #FEC057,
    'error': #FA5554
);

$user-radii: (
    'md': 5px,
    'test-size': 18px
);

$user-border-widths: (
    'lg': 3px,
    'test-width': 5px
);

$user-layers: (
    'test-layer': 5000,
    'root': 1,
    'header': 1000,
    'navigation': 2000,
    'overlay': 3000,
    'modal': 4000
);

// Layout
$user-gs-columns: 4;
$user-gs-gutter: 10px;
$user-container-width: 990px;
$user-container-padding: 5%;

// Responsive
$user-breakpoints: (
    'test-bp': 128em,
    'xs': 34em,
    'sm': 45em,
    'md': 59em,
    'lg': 73em,
    'xl': 86em
);

// Spacing
$user-spacing: (
    'test-abs': 48px,
    'test-rel': 5rem,
    'xs': 0.3125rem,
    'sm': 0.625rem,
    'md': 1.25rem,
    'lg': 2.5rem,
    'xl': 5rem
);

// Type
$user-font-stack: (
    'body': (sans-serif),
    'test-stack': ('georgia', serif)
);

$user-font-sizes: (
    'test-abs': (10px, 15px),
    'test-rel': (1.5rem, 2rem),
    'body': (1rem, 1.2rem),
    'xs': (1rem, 1.2rem),
    'sm': (1.333rem, 1.2rem),
    'md': (1.777rem, 1.5rem),
    'lg': (2.369rem, 2rem),
    'xl': (3.157rem, 3rem)
);

$user-font-weights: (
    'test-prop': bold,
    'test-value': 500,
    'hairline': 100,
    'light': 300,
    'regular': 400,
    'semibold': 600,
    'bold': 700,
    'black': 900
);
