// Set test variables and
// immutable default values

// True
$true-terminal-output: false;

// Appearance
$user-colours: (
    'test-grey': #666
);

$user-radii: (
    'md': 5px,
    'test-size': 18px
);

$user-border-widths: (
    'lg': 3px,
    'test-width': 5px
);

// Layout
$user-gs-columns: 4;
$user-gs-gutter: 10px;
$user-container-width: 990px;
$user-container-padding: 5%;

// Responsive
$user-breakpoints: (
    'test-bp': 128em
);

// Spacing
$user-spacing: (
    'test-abs': 48px,
    'test-rel': 5rem
);

// Type
$user-font-stack: (
    'body': (sans-serif),
    'test-stack': ('georgia', serif)
);

$user-font-sizes: (
    'test-abs': (10px, 15px),
    'test-rel': (1.5rem, 2rem)
);

$user-font-weights: (
    'test-prop': bold,
    'test-value': 500
);
