// Set test variables and
// immutable default values

// True
$true-terminal-output: false;

// Appearance
$user-colours: (
    'test-grey': #666
);

$user-radii: (
    'md': 5px,
    'test-size': 18px
);

$user-border-widths: (
    'lg': 3px,
    'test-width': 5px
);

// Layout
$user-gs-columns: 4;
$user-gs-gutter: 10px;

// Responsive
$user-breakpoints: (
    'test-bp': 128em
);

// Spacing
$user-spacing: (
    'test-abs': 48px,
    'test-rel': 5rem
);
