@include test-module('layer') {
    @include test('should return the z-index layer value by map key') {
        $actual: layer('test-layer');
        $expected: 5000;

        @include assert-equal($actual, $expected);
    }

    @include test('should return the full layer map') {
        $actual: get-layers();
        $expected: (
            'test-layer': 5000,
            'root': 1,
            'header': 1000,
            'navigation': 2000,
            'overlay': 3000,
            'modal': 4000
        );

        @include assert-equal($actual, $expected);
    }
}
