@include test-module('merge') {
    @include test('should return the merged values of two maps') {
        $default-map: ('foo': 1, 'bar': #FFF, 'baz': 'hello world');
        $merge-map: ('foo': 'goodbye', 'baz': 15);

        $actual: merge($default-map, $merge-map);
        $expected: ('foo': 'goodbye', 'bar': #FFF, 'baz': 15);

        @include assert-equal($actual, $expected);
    }
}

@include test-module('px-to-relative') {
    @include test('Should convert a non-relative unit into a relative one without modifying existing relative values') {
        $values: (32px, 16px, 4rem, 5em);
        $expected-values: (2rem, 1rem, 4rem, 5em);

        @for $index from 1 through length($values) {
            $value: nth($values, $index);

            $actual-value: px-to-relative($value);
            $expected-value: nth($expected-values, $index);

            @include assert-equal($actual-value, $expected-value);
        }
    }
}
