@include test-module('spacing') {
    @include test('should return an unmodified value from the spacing map by key [raw]') {
        $values: ('test-abs', 'test-rel');
        $expected-values: (48px, 5rem);

        @for $index from 1 through length($values) {
            $value: nth($values, $index);

            $actual-value: spacing-raw($value);
            $expected-value: nth($expected-values, $index);

            @include assert-equal($actual-value, $expected-value);
        }
    }

    @include test('should return a relative unit value from the spacing map by key') {
        $values: ('test-abs', 'test-rel');
        $expected-values: (3rem, 5rem);

        @for $index from 1 through length($values) {
            $value: nth($values, $index);

            $actual-value: spacing($value);
            $expected-value: nth($expected-values, $index);

            @include assert-equal($actual-value, $expected-value);
        }
    }
}
