@mixin rdx-grid($auto: false, $center: false, $flush: false, $reverse: false, $stack: false, $vcenter: false) {
    display: flex;

    @if $auto {
        flex-wrap: wrap;

        > * {
            flex: none;
            width: (1 / $radix-gs-columns) * 100%;
        }
    }

    @if $center {
        justify-content: center;
    }

    @if $flush {
        > * {
            margin: 0;
            padding: 0;
        }
    }

    @if $reverse {
        @if $stack {
            flex-direction: column-reverse;
        } @else {
            flex-direction: row-reverse;
        }
    }

    @if $stack {
        flex-direction: column;
    }

    @if $vcenter {
        align-items: center;
    }
}

@mixin rdx-mq-from($key) {
    @media screen and (min-width: breakpoint($key)) {
        @content;
    }
}

@mixin rdx-mq-until($key) {
    @media screen and (max-width: breakpoint($key) - 0.01) {
        @content;
    }
}

@mixin rdx-mq-between($min, $max) {
    @media screen and (min-width: breakpoint($min)) and (max-width: breakpoint($max)) {
        @content;
    }
}

@mixin rdx-mq-xl() {
    @include rdx-mq-from('lg') {
        @content;
    }
}

@mixin rdx-mq-lg() {
    @include rdx-mq-until('lg') {
        @content;
    }
}

@mixin rdx-mq-md() {
    @include rdx-mq-until('md') {
        @content;
    }
}

@mixin rdx-mq-sm() {
    @include rdx-mq-until('sm') {
        @content;
    }
}

@mixin rdx-mq-xs() {
    @include rdx-mq-until('xs') {
        @content;
    }
}
