////
/// Type
/// Settings that will affect the text visuals of the document
///
/// @group Type
/// @author James Wigger <james.s.wigger@gmail.com>
////

/// The system default font-family stack that users can extend or modify.
/// This should not be modified directly.
///
/// @access private
/// @since 1.0.0
$radix-font-stack: merge((
    'body': (
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        Arial,
        sans-serif
    )
), $user-font-stack);

/// The system default font-size groups that users can extend or modify.
/// This should not be modified directly.
///
/// @access private
/// @since 1.0.0
$radix-font-sizes: merge((
    'body': (1rem, 1.2rem),
    'xs': (1rem, 1.2rem),
    'sm': (1.333rem, 1.2rem),
    'md': (1.777rem, 1.5rem),
    'lg': (2.369rem, 2rem),
    'xl': (3.157rem, 3rem),
), $user-font-sizes);

/// The system default font-weight options that users can extend or modify.
/// This should not be modified directly.
///
/// @access private
/// @since 1.0.0
$radix-font-weights: merge((
    'hairline': 100,
    'light': 300,
    'regular': 400,
    'semibold': 600,
    'bold': 700,
    'black': 900
), $user-font-weights);
