@charset "utf-8";

// User configurations
$user-colours: () !default;
$user-font-stack: () !default;
$user-font-sizes: () !default;
$user-breakpoints: () !default;

// Radix options
$radix-namespace: 'rdx' !default;

// Grid options
$radix-gs-columns: 12 !default;
$radix-gs-gutter: 20px !default;

// Container options
$radix-centered-width: 1280px !default;
$radix-fluid-width: 90% !default;

// CSS options
$radix-css-grid: true !default;
$radix-css-colours: true !default;
$radix-css-fonts: true !default;

// Default colour-scheme
$radix-colours: merge((
    'default': #ECF0F1,
    'primary': #3498DB,
    'secondary': #34495E,
    'success': #63B75D,
    'error': #EF2F2A,
    'notice': #F1C40E
), $user-colours);

// Default font stack
$radix-font-stack: merge((
    'default': (
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        Arial,
        sans-serif
    )
), $user-font-stack);

// Default font sizes
$radix-font-sizes: merge((
    'default': (15, 18),
    'xl': (48, 52),
    'lg': (36, 38),
    'md': (24, 26),
    'sm': (18, 20),
    'xs': (14, 16),
), $user-font-sizes);

// Breakpoints
$radix-breakpoints: merge((
    'xl': 76em,
    'lg': 63em,
    'md': 49em,
    'sm': 35em,
    'xs': 24em
), $user-breakpoints);
