@include test-module('Type') {
    @include test('rdx-font-stack [mixin]') {
        @include assert('should output the given font-family with a default') {
            @include input() {
                @include rdx-font-stack();
            }

            @include expect() {
                font-family: sans-serif;
            }
        }

        @include assert('should output the given font-family with given value') {
            @include input() {
                @include rdx-font-stack('test-stack');
            }

            @include expect() {
                font-family: "georgia", serif;
            }
        }
    }

    @include test('rdx-font-size [mixin]') {
        @include assert('should output font size / line height for key') {
            @include input() {
                @include rdx-font-size('test-abs');
            }

            @include expect() {
                font-size: 0.625rem;
                line-height: 0.9375rem;
            }
        }
    }

    @include test('rdx-font-weight [mixin]') {
        @include assert('should output a default font weight') {
            @include input() {
                @include rdx-font-weight();
            }

            @include expect() {
                font-weight: 400;
            }
        }

        @include assert('should output a font weight by key') {
            @include input() {
                @include rdx-font-weight('test-value');
            }

            @include expect() {
                font-weight: 500;
            }
        }
    }
}
